.body{
    margin: 0;
}

.page{
    background-color: #E5E5E5;
    height: 2000px;
}
.box{
    width: 512px;
    height: 512px;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
}
.image1{
    margin-top: 129px;
}

.flag{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.box2 {
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    background-image: url("../img/Blue.png");
    background-repeat: no-repeat;
}

.logotype{
    margin-top: 143px;
}

.box3 {
    width: 512px;
    height: 512px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;

}

.circle{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    border-radius: 50%;
    background-image: url("../img/Blue.png");
    background-repeat: no-repeat;
}

.logotype2 {
    width: 358px;
    margin-top: 244px;
}

