body{
    font-family: 'Inika', serif;
    margin: 0px;
}

.h1{
    margin: 72px 0;
    font-size: 40px;
    font-weight: 700;
}

.h1_2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 40px;
}

.line{
    width: 402px;
    border-bottom: solid #3E45E8; 
}

.line_2{
    width: 402px;
    border-bottom: solid #3E45E8;
    margin-left: auto;
    margin-right: auto;
}
.header{
    min-height: 50px;
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Marcellus', serif;
    padding: 25px;
}
.header-span{
color: #E8C23E;
}

.banner{
    height: 803px;
    background-image: url("../img/sobor.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 208px;
    padding-left: 80px;
    box-sizing: border-box;
}

.сontent{
    box-sizing: border-box;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 700;
    padding-left: 3%;
    padding-top: 0%;
    width: 90%;
    background-image: url("../img/flag.png");
    height: 272px;
    background-repeat: no-repeat;
}

.main{
    padding: 80px;
}

.card{
    border: 1px solid black;
    width: 30%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    border-radius: 26px;
    box-shadow: 0px 4px 57px black;
}

.card_margin{
    margin: 0 4.3%;
}

.card_image{
    width: 100%;
}

.card_title{
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;
}

.card_subtitle{
    color: #E8C23E;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    box-sizing: border-box;
}

.img_ukr{
    margin-left: 294px;
    box-sizing: border-box;
}

.support{
    margin-top: 40px;
    margin: 0 auto;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    width: 590px;
    padding: 20px;
    color: white;
    background-color: #2A61F0;
    box-sizing: border-box;
}

.footer{
    background-color: #2F4A4B;
    min-height: 50px;
    max-height: 320px;
    text-align: center;
    margin-top: 30px;
}

.footer_span1{
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}

.footer-span {
    color: #E8C23E;
}

.email{
    color: #A89D9D;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Marcellus SC', serif;
}

.telephone {
    color: #A89D9D;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Marcellus SC', serif;
}

