@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
}

.build{
    width: 80%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 90px;
    background-color: rgba(32, 40, 70, 1);
    display: flex;
    position: sticky;
    z-index: 2;
    top: 0;

}

.logo{
    width: 10%;
    height: 90%;
    position: absolute;
    top: 1rem;
    left: 5rem;
}

.menu{
    list-style: none;
    margin: 0;
    padding-left: 30rem;
    display: flex;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.menu_btn{
    padding: 3rem;
}

.lang{
    width: 10%;
    height: 90%;
    position: absolute;
    top: 1rem;
    right: 5rem;
}

.title{
    width: 100%;
    height: 140px;
    background-color: rgba(198, 198, 220, 1);
    display: flex;
    align-items: center;

}

.title_text{
    font-size: 4.5rem;
    font-style: italic;
    margin-left: 14rem;
}

.title_margin{
    margin: 25rem 0 0 0;
}

.location_option{
    width: 80%;
    margin: 0 auto;
    height: 73px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.location_option-content{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.arrow{
    position:absolute;
    top: 2.5rem;
    right: 2rem;

}

.card{
   height: 300px;
   background-color: #BDBDC6;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
}

.card:hover{
    background-color: #AEAEE2;
    box-shadow: 0px 4px 30px black;
}

.card:hover path {
    fill: #FFFF00;
}
.card-btn:hover{
    background-color: #EF075B;
}

.menu_btn:hover{
color: #AEAEE2;
}

.card_margin{
    margin: 5rem 0;
}

.card_img{
   width: 35%;
   height: 80%;
   overflow: hidden;
}

.card_img img{
    height: 100%;
}

.card_content{
   width: 50%;
   height: 80%;

}

.card_content-title{
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin: 1rem 0;
}

.card_content-description{
    font-size: 1.7rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
}

.card-star, .card-btn{
    position:absolute
}

.card-star{
    right: 1rem;
    top: 1rem;
}


.card-btn{
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.up_btn{
   position: absolute;
   right: 1rem;
   top: 160rem;

}

.card_personal_office{
    width: 70%;
    height: 500px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 3rem auto 3rem;
}

.avatar_btn{
        padding: 1.5rem 2rem;
        background-color: rgba(105, 116, 155, 1);
        color: white;
        text-decoration: none;
        font-size: 24px;
        text-align: center;
        border-radius: 50px;
        display: block;
        margin: 1rem 0;
}

.setting_btn {
    padding: 1.5rem 2rem;
    background-color: rgba(72, 74, 84, 1);
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    display: block;
}


.personal_content{
        font-weight: 700;
        font-style: italic;
        border-bottom: 3px solid white;
        font-size: 2.5rem;
        margin: 4rem 0;
}

.personal_content_400{
        font-weight: 400;
        font-style: italic;
        font-size: 2.5rem;

}

.close_btn{
    margin: 0 auto;
    width: 20rem;
    padding: 1.5rem 2rem;
    background-color: rgba(32, 40, 70, 1);
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    display: block;

}

.contact_title{
    font-size: 3rem;
    border-bottom: 3px solid black;
    margin: 1rem 0;
    width: 100%;
}

.contact1{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 5rem 5rem;

    
}

.contact2 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 5rem 5rem;


}

.contact_data{
    font-size: 2.5rem;
}

.contact_map{
    width: 578px;
        height: 335px;
        overflow: hidden;
        border: 1px solid white;
        border-radius: 25px;  
}

.footer{
    width: 100%;
    height: 90px;
    background-color: rgba(32, 40, 70, 1);
    align-items: center;
    display: flex;
}

.footer_content{
    color: rgba(238, 236, 241, 1);
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    margin-left: 6rem;
}